<!DOCTYPE html>
<html>
<head>
    <title> My first server</title>
    <link rel="stylesheet" type ="text/css" href="/static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='water_drop.ico') }}">
<!-- The rel is a standard when adding a css file, href is the address -->


</head>
<body>
    My another web site - after I did one in 1999 at FHI.
    <br>
    Trying a xxx expression {{ 4+5 }}
    <br>
    {{ name }}
    <br>
    {{ post_id }}
    <script src="/static/script.js"></script>
</body>

</html>